/* App.css */
* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
	background-color: #f7f7f7;
}

.app-name {
	font-size: 2.3rem;
	color: rgb(17, 144, 0);
	margin-bottom: 16px;

  
    background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
  
  
.developername{box-shadow: 0px 11px 14px rgb(73 112 232 / 36%);}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:90%;
	min-height: 440px;
	background-color: rgb(255, 255, 255);
	text-align: center;
	margin: 5% auto;
	border-radius: 15px;
	padding-bottom: 32px;
	box-shadow: 8px 8px 16px #403ef7;
}
.search-bar{width: 80%;box-shadow: 6px 5px #403ef7;
    border-radius: 24px;}
.city-search {
	width:-webkit-fill-available;
	
	box-sizing: border-box;
	border: 2px solid rgb(204, 204, 204);
	outline: none;
	border-radius: 20px;
	font-size: 1.5rem;
	background-position: 10px 12px;
	background-repeat: no-repeat;
	padding: 12px 40px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	color: #333;
}
button{font-size: 2rem;
    margin-top: 3%;
    background: transparent;
    border:2px solid black;
    border-radius: 15px;
box-shadow: 4px 4px #403ef7;
}
.datadiv{width: 80%;
  background-color: #70ace4;
  margin: 3%;border-radius: 15px;

	box-shadow: 6px 6px 12px #403ef7;

}

.city-search:focus {
	width: 100%;
}

.city-name {
	font-size: 1.5rem;
	
	margin-bottom: 8px;
}

.date {
	font-size: 1.25em;
	font-weight: 500;
	
}

.icon-temp {
	font-size: 3rem;
	font-weight: 700;
	color: #1e2432;
	text-align: center;
}

.deg {
	font-size: 1.3rem;
	vertical-align: super;
}

.des-wind {
	font-weight: 500;
	
}

.error-message {
	display: block;
	text-align: center;
	color: #d32f2f;
	font-size: 24px;
	margin-top: auto;
}

.Loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.Loader>div {
	margin: 0 auto;
}

.weather-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.weather-icon img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
